@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1d9bf0;
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #1d9bf0;
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.icon {
  width: 1.5em;
  height: 1.5em;
  padding: 0.25em; /* Adiciona padding ao ícone */
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-icon{
  border-radius: 50%;
  @apply text-neutral-500
}

.menu-icon{
  width: 1.8em;
  height: 1.8em;
}

.icon-hover-comments,
.icon-hover-reposts,
.icon-hover-likes,
.icon-hover-reach,
.icon-hover-bookmark,
.icon-hover-share {
  @apply text-neutral-500;
}

.icon:hover {
  /* transform: scale(1.1); */
}

.icon-hover-comments:hover > .icon {
  background-color: rgba(29, 155, 240, 0.4);
  color: rgba(29, 155, 240, 1);
}

.icon-hover-comments:hover > span {
  color: rgba(29, 155, 240, 1);
}

.icon-hover-reposts:hover > .icon {
  background-color: rgba(0, 128, 0, 0.4);
  color: rgba(0, 128, 0, 1);
}

.icon-hover-reposts:hover > span {
  color: rgba(0, 128, 0, 1);
}

.icon-hover-likes:hover > .icon {
  background-color: rgba(255, 105, 180, 0.4);
  color: rgba(255, 105, 180, 1);
}

.icon-hover-likes:hover > span {
  color: rgba(255, 105, 180, 1);
}

.icon-hover-reach:hover > .icon,
.icon-hover-bookmark:hover > .icon,
.icon-hover-share:hover > .icon {
  background-color: rgba(29, 155, 240, 0.4);
  color: rgba(29, 155, 240, 1);
}

.icon-hover-reach:hover > span,
.icon-hover-bookmark:hover > span,
.icon-hover-share:hover > span {
  color: rgba(29, 155, 240, 1);
}

.text-primary {
  color: var(--primary-color);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Menu */
.menu-option {
  @apply flex gap-4 px-2 py-2 rounded-full;
}

.menu-option:hover {
  @apply bg-neutral-900;
  transition: all 0.5s;
}

.page-screen {
  height: 100vh;
  overflow-y: hidden;
}

.page-screen main {
  height: 100%;
  overflow-y: auto;
}

.option-feed{
  @apply text-neutral-600;
}

.option-feed:hover {
  @apply bg-neutral-800;
}

.option-feed.active p{
  text-align: center;
  @apply flex justify-center items-center text-neutral-100;
  height: 100%;
}

.option-feed.active .borda{
  height: 4px;
  width: 20%;
  border-radius: 20px;
  background-color: var(--primary-color);
}

.form{

}

.user-img{
  width: 50px;
  height: 50px;
  overflow:hidden;
  @apply flex justify-center items-center;
}

.user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

textarea,
.post-textarea {
  outline: none;
  resize: none;
  @apply bg-transparent font-normal text-lg text-neutral-200;
}

textarea:focus {
  outline: none;
}

.input-textarea {
  border-bottom-width: 2px;
  /* border-color: transparent; */
  border-color: #262626;
}

textarea:focus + .input-textarea{
  border-color: #262626;
}

.replace-private{
  display: none;
}

textarea:focus + .replace-private,
.replace-private:hover{
  transition: all 0.5s;
  display: flex;
}

.replace-private{
  color: var(--primary-color);
}

/* Button */
button {
  @apply bg-blue-500 hover:bg-blue-600 px-6 py-2 rounded-full text-white;
}

.btn-neutral{
  @apply bg-neutral-200 text-neutral-800;
}

.btn-neutral:hover{
  @apply bg-neutral-400 text-neutral-900;
}

/* Post */
.post-img-section{
  @apply flex justify-center items-center rounded-lg;
}