@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1d9bf0;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #1d9bf0;
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.icon {
  @apply w-4 h-4;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.option-feed{
  @apply text-neutral-600;
}

.option-feed:hover {
  @apply bg-neutral-800;
}

.option-feed.active p{
  text-align: center;
  @apply flex justify-center items-center text-neutral-100;
  height: 100%;
}

.option-feed.active .borda{
  height: 4px;
  width: 20%;
  border-radius: 20px;
  background-color: var(--primary-color);
}

.form{

}

textarea {
  outline: none;
  resize: none;
  @apply border-neutral-500 bg-transparent font-normal text-lg text-neutral-200;
}

textarea:focus {
  outline: none;
}

.replace-private{
  color: var(--primary-color);
}